///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #000000;
$masthead-small-color:   #000000;

$post-title-color:       #000000;
$post-date-color:        #000000;


$body-color:            #000000;
$body-background-color: #000000;

$link-color:            #000000;

$headings-color:        #000000;    // h1,h2,h3,h4,h5,h6

$strong-color:          #000000;    // strong

$pre-background-color:  #000000;    // pre

$blockquote-color:        #000000;  // blockquote
$blockquote-border-color: #000000;

$table-border-color:         #000000;
$table-odd-background-color: #000000;


